@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: sans-serif;
  line-height: 150%;
}

button,
.submit {
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
