@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: sans-serif;
  line-height: 150%;
}

button,
.submit {
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto;

  // @media only screen and (max-width: 1280px) {
  //   width: 90%;
  // }
}
