@use "colors" as *;

%card {
  background-color: #fff;
  width: 100%;
  min-height: 300px;
  height: fit-content;
  border-radius: 4px;
  border: none;
  padding: 1em;
  margin: auto;

  @media only screen and (max-width: 800px) {
  }
}

%card-active {
  outline: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

@mixin section-title($text-color) {
  text-transform: uppercase;
  margin: 0;
  font-weight: 800;
  letter-spacing: 2px;
  color: $text-color;
  font-size: 2rem;
  opacity: 0.6;
}

%work-area {
  max-width: 900px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(300px, 900px) 1fr;
  grid-template-areas:
    "title ."
    "content control";

  // @media only screen and (max-width: 1000px) {
  //   display: grid;
  //   width: 100%;
  // }
}
@mixin round-btn($bgr-color, $text-color) {
  background-color: $bgr-color;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  color: $text-color;
  padding: 0.6em;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 2px;
  z-index: 999;

  &:hover {
    background-color: $drk-color;
    // background-color: adjust-color(
    //   $bgr-color,
    //   $hue: +9%,
    //   $saturation: -25%,
    //   $lightness: -6%
    // );
  }

  @media only screen and (max-width: 800px) {
    font-size: 0.8rem;
  }
}

%sort-btn {
  font-size: 1rem;
  width: 150px;
  height: 2em;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
  gap: 0.5rem;

  &:hover {
    opacity: 1;
  }
}

%control {
  grid-area: control;
  position: relative;

  .submit {
    position: absolute;
    top: 30px;
    left: 15px;
  }
}
