%card {
  background-color: #fff;
  width: 100%;
  min-height: 300px;
  height: fit-content;
  border-radius: 4px;
  border: none;
  padding: 1em;
  margin: auto;
}

%card-active {
  outline: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

@mixin section-title($text-color) {
  text-transform: uppercase;
  margin: 0;
  font-weight: 800;
  letter-spacing: 2px;
  color: $text-color;
  font-size: 2rem;
  opacity: 0.6;
}

%work-area {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 700px 100px;
  grid-template-areas:
    "title ."
    "content control";
}
@mixin round-btn($bgr-color, $text-color) {
  background-color: $bgr-color;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  color: $text-color;
  padding: 0.6em;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 2px;
  z-index: 999;

  &:hover {
    background-color: adjust-color(
      $bgr-color,
      $hue: +9%,
      $saturation: -25%,
      $lightness: -6%
    );
  }
}
