@use "colors" as *;
@use "elements" as *;
@use "shared";
@use "defaults";

span {
  margin: 0.5em;
  font-size: 1.2rem;
}

.input-area {
  @extend %work-area;

  .section-title {
    grid-area: title;
    @include section-title($pink-color);
  }
  form {
    grid-area: content;
    display: flex;
    flex-direction: column;
  }

  textarea {
    @extend %card;
    &:focus {
      @extend %card-active;
    }
  }
  #submit {
    grid-area: control;
    @include round-btn($pink-color, #fff);
    margin-left: 2em;
    align-self: end;
  }
}

.output-area {
  @extend %work-area;
  margin-bottom: 2rem;

  .section-title {
    grid-area: title;
    @include section-title($pink-color);
  }
  .results {
    grid-area: content;
    @extend %card;
  }

  #copy {
    grid-area: control;
    @include round-btn($pink-color, #fff);
    margin-left: 2em;
    align-self: end;
  }
}
